*.a
*.o
*.rpt
*.pin
*.summary
*.lck
*.elf
*.dat
*.bin
.metadata/
DSD/first_nios2_system/simulation/
DSD/first_nios2_system/testbench/
DSD/software/dsd/obj/
DSD/software/dsd_bsp/obj/
DSD/software/dsd_bsp/settings.bsp
DSD/db/
DSD/incremental_db/
DSD/software/dsd/beeth5_noise.bin
eclipse/
